.footer {
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px inset #8e59d7;
  width: 100%;
  padding: 2rem 5%;
  box-sizing: border-box;
  grid-template-columns: 50% 50%;
  gap: 10rem;
}

.section-left-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: flex-end;
}

.section-right-footer {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

.div-socials {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}

.hFooter {
  font-weight: 800;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.a-phone {
  text-decoration: none;
  color: currentColor;
  transition: 0.5s ease-in-out;
}

.a-phone:hover {
  color: #8663b8;
  text-decoration: underline;
}



.a-Footer {
  width: 32px;
  height: 32px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
  padding: 0;
  color: currentColor;
}

.a-Footer:hover {
  transform: scale(1.2);
  filter: invert(13%) sepia(20%) saturate(5516%) hue-rotate(246deg) brightness(86%) contrast(112%);
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding: 2rem 1rem;
    gap: 1rem;
  }
  .div-socials{
    display: flex inline;
    flex-flow: row;
  }
}